body {
    color: #d9b64e;        
    background-color: #0d0d0d;
    border: 5px solid #f2b807;
    font-size: 15px;
    line-height: 25px;
    
}

h1 {
    color: #f2b807;
    text-align: center;
    font-size: 400%;
    font-family: 'Roboto', sans-serif;
}
hr{
    color: #f2b807;
}
h2 {
    color: #f2b807;
    margin-left: 15px;
    font-size: 200%;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: #f2b807;
    margin-left: 15px;
    font-size: 175%;
    font-family: 'Roboto', sans-serif;
}  

blockquote {
    padding: 10px;
    margin-right: 65%;
    color: #d9b64e;
    border: 2px solid #735703;
    border-radius: 1px;
    
}
cite {
    color: #a6a6a6;
}
p {
    color: #735703;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    font-size: 110%;
}

dl {
    color: #d9b64e;
    font-family: 'American Typewriter';
    margin-left: 15px;
    font-size: 110%;
}
dd {
    font-style: italic;
}
#pasta {
    width: 240px;
    height: 400px;
    border: 3px solid #d9b64e;
    float: right;
    margin-right: 25px;
    font-size: 50%;
}
#banner {
    text-align:  center;
}
a {
    color: #f2b807;
}
a:link {
    color: #d9b64e;
}
a:visited {
    color: #a6a6a6;
}
a:hover {
    color: #f2b807;
}
a:active {
    color: #735703;
}
nav {
    background-color: #735703;
    margin: 0;
    overflow: hidden;
    text-align: center;
    font-size: large;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}
 
nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}